<nav class="navbar navbar-light navbar-expand-md" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">Goodreads</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#myNav"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse justify-content-end me-sm-5" id="myNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/books" class="nav-link">Books</a>
                </li>
                <% if(locals._user){ %>
                    <li class="nav-item">
                        <a href="/books/create" class="nav-link">Create book</a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/logout" class="nav-link">
                            Log out
                        </a>
                    </li>
                    <li class="nav-item dropdown me-sm-5">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Profile
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li>
                                <span class="dropdown-item fw-bold"><%= locals._user.username %></span>
                            </li>
                            <li><a class="dropdown-item" href="/user/profile_view">view profile</a></li>
                            <li><a class="dropdown-item" href="/user/profile_edit">edit profile</a></li>
                        </ul>
                    </ul>
                    <%}else{ %>
                        <li class="nav-item">
                            <a href="/user/login" class="nav-link">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a href="/user/signup" class="nav-link">Sign up</a>
                        </li>
                        <%} %>
                    </div>
                </div>
</nav>